/*Global*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    font-family: sans-serif;
}

a{
    display: block;
    text-decoration: none;
}

.container{
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

/*Header*/
header{
    position: fixed;
    top: 0;
    z-index: 1400;
    width: 100%;
    height: 4.4rem;
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blur(2rem);
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;
}

.nav-list-mobile{
    display: none;
}

.nav-link{
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 1);
    padding: 0 1rem;
    transition: opacity 0.5s;
}

.nav-link:hover{
    opacity: .7;
}

.nav-link-apple{
    width: 1.6rem;
    height: 4.4rem;
    background: url("https://img.icons8.com/material-rounded/24/000000/mac-os--v1.png") center no-repeat;
}

.nav-link-search{
    width: 1.6rem;
    height: 4.4rem;
    background: url("https://img.icons8.com/android/24/000000/search.png") center no-repeat ;
}

.nav-link-bag{
    width: 1.4rem;
    height: 4.4rem;
    background: url("https://img.icons8.com/windows/32/000000/shopping-bag.png") center no-repeat ;
}
/*iPhone 11 Pro*/
.iphone-11-pro{
    background: url("images/hero/iphone-11-pro/iphone_11_pro_large.jpg");
    margin-top: 4.4rem;
}

.title{
    color: white;
    text-align: center;
    padding-top: 5.5rem;
}

.title-heading{
    font-size: 5.6rem;
    line-height: 1.07143;
    letter-spacing: -.005rem;
}

.title-sub-heading{
    font-size: 2.65rem;
    margin-top: .6rem;
    letter-spacing: .008rem;
    font-weight: 400;
}

.title-price{
    font-size: 1.7rem;
    color: #888;
    margin-top: .68rem;
}

.cta{
    text-align: center;
    margin-top: 1.8rem;
}

.cta-link{
    color: #66bbff;
    font-size: 2.1rem;
    display: inline-block;
}

.cta-link:nth-child(2){
    margin-left: 2.6rem;
}

.cta-link:hover{
    border-bottom: 2px solid #66bbff;
}

/*iPhone 11 section*/
.iphone-11{
    background: url("images/hero/iphone-11/iphone_11_large.jpg");
}

.title-dark{
    color: black;
}

.cta-link-darker{
    color: #0070c9;
}

.cta-link-darker:hover{
    border-bottom-color: #0070c9;
}

.watch{
    background: url("images/hero/watch/watch_large.jpg");
}

.title-heading-watch{
    height: 7.8rem;
    background: url("images/hero/watch/logo_watch_medium.png") center no-repeat;
    background-size: auto 7.8rem;
    margin-top: 1.6rem;
}







/*Moved to the bottom of all section styles to keep consistent styles*/
.hero {
    height: 69.2rem;
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;
    border-top: .6rem solid white;
    border-bottom: .6rem solid white;
}

.iphone-11-pro{
    border-top: none;
}